a,
button{
 display: block;
}

.box{
    width: 100px;
    height: 100px;
    background: red;
}

.red{
    background: red;
}

.green{
    background: green;
}

.galery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.galery_item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}